.container-wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.grid-container {
    display: grid;
    gap: 0.75rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.text-center {
    text-align: center;
    width: 100%;
}

.text-body {
    font-size: clamp(16px, 1.5vw, 20px);
}

.text-blue {
    color: rgb(0 46 231);
}


.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.inset-0 {
    inset: 0px;
}

.inset-5 {
    inset: 5%;
}


.brand-rounded-lg {
    border-radius: clamp(50px, 5vw, 116px);
}

.aspect-\[790\/948\] {
    aspect-ratio: 790 / 948;
}


.img-a1-1 {
    left: -20%;
    top: 4%;
    width: 69%;

}

.img-a1-2 {
    left: 33%;
    top: -1%;
    width: 36%;

}

.img-a1-3 {
    left: 57%;
    top: 9%;
    width: 51%;
}

.img-a2-1 {
    left: 0%;
    top: 57%;
    width: 46%;
}

.img-a2-2 {
    left: 35%;
    top: 55%;
    width: 69%;
}

.img-a3-1 {
    left: -15%;
    bottom: 0%;
    width: 85%;
}

.img-a3-2 {
    bottom: -9%;
    left: 46%;
}

.img-a4-1 {
    right: -5%;
    top: -3%;
    width: 52%;
}

.img-a4-2 {
    left: -2%;
    top: 55%;
    width: 55%;
}

.img-a6-1 {
    left: -25%;
    top: -3%;
    width: 90%;
}

.img-a6-2 {
    left: 34%;
    top: 13%;
    width: 98%;
}

.img-a7-1 {
    left: -18%;
    top: 33%;
    width: 55%;
}

.img-a7-2 {
    left: 7%;
    top: 20%;
    width: 100%;
}

.card-a4-style {
    left: 15%;
    top: 27%;
    width: 92%;
    transform: translate(0, 0) rotate(45deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

img {
    max-width: 100%;
    height: auto;
}

.origin-center {
    transform-origin: center;
}

.top-auto {
    top: auto;
}


.px-8 {
    padding-left: 8% !important;
    padding-right: 8% !important;
}

.py-5 {
    padding-top: 5%;
    padding-bottom: 5%;
}

.brand-rounded-md {
    border-radius: clamp(50px, 5vw, 80px);
}



.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.bottom-auto {
    bottom: auto;
}

.bg-red {
    background-color: rgb(251 61 92);
}

.bg-teal {
    background-color: rgb(0 217 214);
}

.bg-blue {
    background-color: rgb(0 46 231);
}

.bg-purple {
    background-color: rgb(198 168 255);
}

.bg-purple {
    background-color: rgb(198 168 255);
}

.bg-yellow {
    background-color: rgb(255 244 66);
}


.card-desc {
    font-size: 0.75rem;
    line-height: 1rem;
}